.table-primary {
    background-color: #BC808E !important;
  }

.btn-primary, .btn-secondary, .btn-outline-primary{
    --bs-btn-color: #D90368 !important;
    --bs-btn-bg: #FFF3F8 !important;
    --bs-btn-border-color: #D90368 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #D90368 !important;
    --bs-btn-hover-border-color: #D90368 !important;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #D90368 !important;
    --bs-btn-active-border-color: #D90368 !important;
}

html{
    background-color: #FFF3F8;
}

.footercol{
    background-color: #D90368;
}

.carousel-item{
    height: 30vh;
}

.carouselpic{
    filter: brightness(60%);
    height: 35vh;
    object-fit: cover;                                                                                                                
}

.footertext{
    color: #ffffff;
}

.card-img-top{
    object-fit: cover;
    height: 20vh;
}

.card:hover{
    box-shadow: 7px 7px 10px #BC808E !important;
}

.favorite{
    padding: 0;
    width: 4vw;
    fill: #ffffff;
}

.favorite.style{
    fill: #D90368 !important;
    border: none !important;
}

.detailslink{
    text-decoration: none;
    color: #D90368;
}

.detailslink:hover{
    color: #fff;
}